<form class='flexcol {{cssClass}}' autocomplete='off'>
    <header class='flex0 sheet-header'>
        <img
            class='profile-img'
            src='{{data.img}}'
            data-edit='img'
            title='{{data.name}}'
        />
        <div class='header-fields'>
            <h1 class='charname'>
                <input
                    name='name'
                    type='text'
                    value='{{data.name}}'
                    placeholder='Name'
                />
            </h1>
        </div>
    </header>
<!--    <div class='flex0'>-->
<!--        {{> "systems/tg/templates/parts/sheet-price.hbs" price=data.system.price availability=data.system.availability}}-->
<!--    </div>-->
<!--    -->
    <section>
        <h3>{{localize 'tg.common.description'}}</h3>
        {{editor
            descriptionHTML
            target='system.description'
            button=true
            editable=editable
            engine='prosemirror'
        }}
    </section>
</form>