<div class='flexrow'>
    <div class='flexcol domains-and-disciplines flex3'>
        <h3>{{localize 'tg.plurals.domainAndDiscipline'}} <a class='domains-extended-view' title='{{localize "tg.ItemEdit"}}' data-action='edit'><i class='fas fa-eye'></i></a></h3>
        <ul>
            {{#each data.system.domainsAndDisciplines as |domain domainKey|}}
                <li class="flexcol">
                    <div class="flexrow">
                        <div>
                            <a class="rollable-domain" data-roll-domain="{{domainKey}}" title="{{localizeItem domainKey "domains"}}">
                                <i class="fas fa-dice-d10"></i>
                            </a>
                            {{localizeItem domainKey "domains"}}
                        </div>
<!--                        <div class="form-fields shrink1">-->
<!--                            <label class="flex0" for="{{domainKey}}Base">{{localize 'tg.Score'}}:</label>-->
<!--                            <input id="{{domainKey}}Base" name="system.domainsAndDisciplines.{{domainKey}}.base" type="number" min="0" value="{{getObjectValue ../data.system.domainsAndDisciplines domainKey 'base'}}" />-->
<!--                        </div>-->
<!--                        <div class="form-fields shrink1">-->
<!--                            <label class="flex0" for="{{domainKey}}Bonus">{{localize 'tg.Bonus'}}:</label>-->
<!--                            <input id="{{domainKey}}Bonus" name="system.domainsAndDisciplines.{{domainKey}}.bonus" type="number" min="0" value="{{getObjectValue ../data.system.domainsAndDisciplines domainKey 'bonus'}}" />-->
<!--                        </div>-->
<!--                        <div class="form-fields shrink1">-->
<!--                            <label class="flex0">{{localizeItem domain.way.abbreviation}}</label>-->
<!--                            <input id="{{domainKey}}Way" type="number" min="0" value="{{getObjectValueByLowerCase ../data.system.ways domain.way.title}}" disabled />-->
<!--                        </div>-->
<!--                        <div class="form-fields shrink1">-->
<!--                            <label class="flex0" for="{{domainKey}}Penalty">{{localize 'tg.Penalty'}}:</label>-->
<!--                            <input id="{{domainKey}}Penalty" name="system.domainsAndDisciplines.{{domainKey}}.penalty" type="number" min="0" value="{{getObjectValue ../data.system.domainsAndDisciplines domainKey 'penalty'}}" />-->
<!--                        </div>-->
                        <div class="form-fields shrink1">
                            <label class="flex0" for="{{domainKey}}Total">{{localize 'tg.common.total'}}:</label>
                            <input id="{{domainKey}}Total" name="system.domainsAndDisciplines.{{domainKey}}.total" type="number" min="0" value="{{getObjectValue ../data.system.domainsAndDisciplines domainKey 'total'}}" disabled />
                        </div>
                    </div>
                    <ul>
                        {{#each domain.disciplines as |discipline id|}}
                            <div class="flexrow">
                                <div>
                                    <a class="rollable-discipline" data-roll-domain="{{domainKey}}" title="{{this.name}}">
                                        <i class="fas fa-dice-d10"></i>
                                    </a>
                                    <span>{{this.name}}</span>
                                </div>


<!--                                <div class="form-fields shrink1">-->
<!--                                    <label class="flex0" for="{{id}}Base">{{localize 'tg.Score'}}:</label>-->
<!--                                    <input class="discipline-change" id="{{id}}Base" data-item-id="{{discipline._id}}" type="number" min="0" value="{{discipline.system.base}}" />-->
<!--                                </div>-->
<!--                                <div class="form-fields shrink1">-->
<!--                                    <label class="flex0" for="{{this.name}}Bonus">{{localize 'tg.Bonus'}}:</label>-->
<!--                                    <input id="{{id}}Bonus" type="number" min="0" value="{{discipline.system.bonus}}" disabled />-->
<!--                                </div>-->
<!--                                <div class="form-fields shrink1">-->
<!--                                    <label class="flex0">{{localizeItem domain.way.abbreviation}}</label>-->
<!--                                    <input id="{{id}}Way" type="number" min="0" value="{{getObjectValueByLowerCase ../../data.system.ways domain.way.title}}" disabled />-->
<!--                                </div>-->
<!--                                <div class="form-fields shrink1">-->
<!--                                    <label class="flex0" for="{{this.name}}Penalty">{{localize 'tg.Penalty'}}:</label>-->
<!--                                    <input id="{{id}}Penalty" type="number" min="0" value="{{discipline.system.penalty}}" disabled  />-->
<!--                                </div>-->
                                <div class="form-fields shrink1">
                                    <label class="flex0" for="{{this.name}}Total">{{localize 'tg.common.total'}}:</label>
                                    <input id="{{id}}Total" class='discipline-total-change' data-item-id="{{discipline._id}}" type="number" min="0" value="{{discipline.system.total}}" disabled />
                                </div>
                            </div>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>
</div>