<div class='flexrow'>
  <div class='column-p'>
    <h3>{{localize 'tg.plurals.equipment'}}
      <a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'><i
          class='fas fa-eye'
        ></i></a></h3>
    <ol class='item-list'>
      {{#each data.items as |item id|}}
        {{#if (eq this.type 'equipment')}}
          <li class='item flexrow' data-item-id='{{item._id}}'>
            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            <h4 class='item-name'>{{item.name}}</h4>
            <div class='item-controls'>
              <a class='item-control' title='{{localize "tg.common.edit"}}' data-action='edit'><i
                  class='fas fa-edit'
                ></i></a>
              <a
                class='item-control'
                title='{{localize "tg.common.delete"}}'
                data-action='delete'
              ><i class='fas fa-trash'></i></a>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ol>
  </div>
  <div class='column-p'>
    <div class='flexcol'>
      <div class='form-fields'>
        <label for='riches"'>{{localize 'tg.common.riches'}}:</label>
        <input id='riches"' name='system.riches' type='number' value='{{data.system.riches}}' />
      </div>
    </div>
  </div>
</div>