<rolltemplate class="sta2 sta2--{{type}}">
  <div class="lcars__top">
    <ul class="lcars__top-sidebar">
      {{#each topBarValues}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <div class="lcars__top-content">
      <div class="info">
        {{#if characterName}}
          <h6 class="info__name">{{characterName}}</h6>
        {{/if}}
      </div>
    </div>
    <div class="lcars__top-underbar"></div>
  </div>
  <div class="lcars__bottom">
    <ul class="lcars__bottom-sidebar">
      <div class="lcars__sidebar-spacer"></div>
      {{#each bottomBarValues}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <div class="lcars__bottom-overbar">
      <h6 class="lcars__roll-title">
        {{ rollTitle }}
      </h6>
    </div>
    <div class="lcars__bottom-content">
      {{> @partial-block }}
    </div>
  </div>
</rolltemplate>