<div class='flex3'>
  <h3>{{localize 'tg.common.price'}}</h3>
  <div class='flexrow'>
    <div class='form-fields'>
      <label for='price-ed'>{{localize 'tg.currency.emberDaols'}}:</label>
      <input id='price-ed' type='number' name='system.price.ed' value='{{price.ed}}' />
    </div>
    <div class='form-fields'>
      <label for='price-ad'>{{localize 'tg.currency.azureDaols'}}:</label>
      <input id='price-ad' type='number' name='system.price.ad' value='{{price.ad}}' />
    </div>

    <div class='form-fields'>
      <label for='price-fd'>{{localize 'tg.currency.frostDaols'}}:</label>
      <input id='price-fd' type='number' name='system.price.fd' value='{{price.fd}}' />
    </div>
    <div class='form-fields'>
      <label for='availability'>{{localize 'tg.common.availability'}}:</label>
      <input id='availability' type='text' name='system.availability' value='{{availability}}' />
    </div>
  </div>
</div>