<div class='flexrow'>
    <div class='flexcol domains-and-disciplines flex3'>
        <h3>{{localize 'tg.plurals.domainAndDiscipline'}}</h3>
        <ul>
            {{#each actor.system.domainsAndDisciplines as |domain domainKey|}}
                <li class="flexcol">
                    <div class="flexrow">
                        <div>
                            <a class="rollable-domain" data-roll-domain="{{domainKey}}" title="{{localizeItem domainKey "domains"}}">
                                <i class="fas fa-dice-d10"></i>
                            </a>
                            {{localizeItem domainKey "domains"}}
                        </div>
                        <div class="form-fields shrink1">
                            <label class="flex0" for="{{domainKey}}Score">{{localize 'tg.common.score'}}:</label>
                            <input id="{{domainKey}}Score" name="system.domainsAndDisciplines.{{domainKey}}.base" type="number" min="0" value="{{getObjectValue ../data.system.domainsAndDisciplines domainKey 'base'}}" />
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>