{{#each data.system.itemTypes as |itemType|}}
    <table class='inventory-table'>
        <thead>
        <tr>
            <th colspan='3'>{{localizeConcat 'tg.plurals' itemType}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each ../data.items as |item id|}}
            {{#if (eq this.type itemType)}}
                <tr class='item' data-item-id='{{item._id}}'>
                    <td>
                        {{#isTypeInArray item.type ../../rollableItemTypes}}
                            <a class='rollable-{{item.type}}' data-roll-domain='{{item.data.parent}}'>
                                <img
                                    src='{{item.img}}'
                                    title='{{item.name}}'
                                    width='24'
                                    height='24'
                                />
                            </a>
                        {{else}}
                            <img
                                src='{{item.img}}'
                                title='{{item.name}}'
                                width='24'
                                height='24'
                            />
                        {{/isTypeInArray}}
                    </td>
                    <td>
                        <h4 class='item-name'>{{item.name}}</h4>
                    <td>
                        <div class='item-controls'>
                            <a
                                class='item-control'
                                title='{{localize "tg.common.edit"}}'
                                data-action='edit'
                            ><i class='fas fa-edit'></i></a>
                            <a
                                class='item-control'
                                title='{{localize "tg.common.delete"}}'
                                data-action='delete'
                            ><i class='fas fa-trash'></i></a>
                        </div>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
        </tbody>
    </table>
{{/each}}