<form class="{{cssClass}} flexcol tg-actor-sheet" autocomplete="off">
    <div class='flexrow h-full'>
        <aside id='ways'>
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
            <div class='flex0'>
                <div class='form-fields'>
                    <h3><label for='color'>{{localize 'tg.common.color'}}</label></h3>
                    <select id='color' name='system.color'>
                        {{#select data.system.color}}
                            <option value=''>
                                {{localize 'tg.common.none' }}
                            </option>
                            {{#each colors}}
                                <option value='{{this}}'>{{localizeItem this "colors"}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
				</div>
            </div>
            <div class='flex0 ways'>
                <h3>{{localize 'tg.plurals.way'}}</h3>
                <div class='flexcol'>
                    <div class='form-fields flex0'>
                        <span>
                        <a
                            class='rollable-way'
                            data-roll-way='combativeness'
                            title='{{localize "tg.ways.combativeness"}}'
                        ><i class="fas fa-dice-d10"></i></a>
                        {{localize 'tg.ways.combativeness'}}</span>
                        <input
                            name='system.ways.combativeness'
                            type='number'
                            min='0'
                            value='{{data.system.ways.combativeness}}'
                        />
                        <span>{{localize "tg.ways.passion"}}</span>
                    </div>
                    <div class='form-fields flex0'>
                        <span>
                        <a
                            class='rollable-way'
                            data-roll-way='creativity'
                            title='{{localize "tg.ways.creativity"}}'
                        ><i class="fas fa-dice-d10"></i></a>
                        {{localize 'tg.ways.creativity'}}</span>
                        <input
                            name='system.ways.creativity'
                            type='number'
                            min='0'
                            value='{{data.system.ways.creativity}}'
                        />
                        <span>{{localize "tg.ways.subversion"}}</span>
                    </div>
                    <div class='form-fields flex0'>
                        <span>
                        <a
                            class='rollable-way'
                            data-roll-way='awareness'
                            title='{{localize "tg.ways.awareness"}}'
                        ><i class="fas fa-dice-d10"></i></a>
                        {{localize 'tg.ways.awareness'}}</span>
                        <input
                            name='system.ways.awareness'
                            type='number'
                            min='0'
                            value='{{data.system.ways.awareness}}'
                        />
                        <span>{{localize "tg.ways.influence"}}</span>
                    </div>
                    <div class='form-fields flex0'>
                        <span>
                        <a
                            class='rollable-way'
                            data-roll-way='reason'
                            title='{{localize "tg.ways.reason"}}'
                        ><i class="fas fa-dice-d10"></i></a>
                        {{localize 'tg.ways.reason'}}</span>
                        <input
                            name='system.ways.reason'
                            type='number'
                            min='0'
                            value='{{data.system.ways.reason}}'
                        />
                        <span>{{localize "tg.ways.doubt"}}</span>
                    </div>
                    <div class='form-fields flex0'>
                        <span>
                        <a
                            class='rollable-way'
                            data-roll-way='conviction'
                            title='{{localize "tg.ways.conviction"}}'
                        ><i class="fas fa-dice-d10"></i></a>
                        {{localize 'tg.ways.conviction'}}</span>
                        <input
                            name='system.ways.conviction'
                            type='number'
                            min='0'
                            value='{{data.system.ways.conviction}}'
                        />
                        <span>{{localize "tg.ways.guilt"}}</span>
                    </div>
                </div>
            </div>
        </aside>
        <section class='flexcol h-full'>
            <header class="sheet-header actor-sheet-header">
                <div class="header-fields">
                    <div class="flexrow">
                        <div class="flexcol">
                            <div class="flex0">
                                <h1 class="charname">
                                    <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
                                </h1>
                            </div>
                            <div class="flex0">
                                <div class="form-fields">
                                    <label for="player">{{localize 'tg.common.player'}}:</label>
                                    <input id="player" name="system.player" type="text" value="{{data.system.player}}" />
                                </div>
                            </div>
                            <div class="flex0">
                                <div class='flexrow'>
                                    <div class="form-fields">
                                        <label for="age">{{localize 'tg.common.age'}}:</label>
                                        <input id="age" name="system.age" type="number" value="{{data.system.age}}" />
                                    </div>
                                    <div class="form-fields">
                                        <label for="origin">{{localize 'tg.common.origin'}}:</label>
                                        <input id="origin" name="system.origin" type="text" value="{{data.system.origin}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex0">
                                <div class='flexrow'>
                                    <div class="form-fields">
                                        <label for="occupation">{{localize 'tg.common.occupation'}}:</label>
                                        <input id="occupation" name="system.occupation" type="text" value="{{data.system.occupation}}" />
                                    </div>
                                    <div class="form-fields">
                                        <label for="experience">{{localize 'tg.common.experience'}}:</label>
                                        <input id="experience" name="system.experience" type="number" value="{{data.system.experience}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex0">
                                <div class="form-fields">
                                    <label for='description'>{{localize
                                        'tg.common.description'
                                    }}</label>
                                    <textarea
                                        name='system.description'
                                        id='description'
                                        cols='30'
                                        rows='2'
                                    >{{data.system.description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="flexcol">
                            <div class="form-fields flex0">
                                <h3>{{localize 'tg.actorStatus.healthCondition'}}</h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{localize 'tg.actorStatus.good'}}</td>
                                            <td>
                                                <input class="healthRadioValue" type="radio" value="1" title="1" {{#compare data.system.health '>=' 1}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="2" title="2" {{#compare data.system.health '>=' 2}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="3" title="3" {{#compare data.system.health '>=' 3}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="4" title="4" {{#compare data.system.health '>=' 4}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="5" title="5" {{#compare data.system.health '>=' 5}}checked{{/compare}} />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{localize 'tg.actorStatus.okay'}}</td>
                                            <td>
                                                <input class="healthRadioValue" type="radio" value="6" title="6" {{#compare data.system.health '>=' 6}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="7" title="7" {{#compare data.system.health '>=' 7}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="8" title="8" {{#compare data.system.health '>=' 8}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="9" title="9" {{#compare data.system.health '>=' 9}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="10" title="10" {{#compare data.system.health '>=' 10}}checked{{/compare}} />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{localize 'tg.actorStatus.bad'}}</td>
                                            <td>
                                                <input class="healthRadioValue" type="radio" value="11" title="11" {{#compare data.system.health '>=' 11}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="12" title="12" {{#compare data.system.health '>=' 12}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="13" title="13" {{#compare data.system.health '>=' 13}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="14" title="14" {{#compare data.system.health '>=' 14}}checked{{/compare}} />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{localize 'tg.actorStatus.critical'}}</td>
                                            <td>
                                                <input class="healthRadioValue" type="radio" value="15" title="15" {{#compare data.system.health '>=' 15}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="16" title="16" {{#compare data.system.health '>=' 16}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="17" title="17" {{#compare data.system.health '>=' 17}}checked{{/compare}} />
                                                <input class="healthRadioValue" type="radio" value="18" title="18" {{#compare data.system.health '>=' 18}}checked{{/compare}} />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{localize 'tg.actorStatus.agony'}}</td>
                                            <td>
                                                <input class="healthRadioValue" type="radio" value="19" title="19" {{#compare data.system.health '>=' 19}}checked{{/compare}} />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class='flexrow'>
                                    <div class='form-fields'>
                                        <label for='stamina'>{{localize
                                            'tg.attributes.stamina'
                                        }}:</label>
                                        <input
                                            id='stamina'
                                            name='system.stamina'
                                            type='number'
                                            value='{{data.system.stamina}}'
                                        />
                                    </div>
                                    <div class='form-fields'>
                                        <label for='survival'>{{localize
                                            'tg.attributes.survival'
                                        }}:</label>
                                        <input
                                            id='survival'
                                            name='system.survival'
                                            type='number'
                                            value='{{data.system.survival}}'
                                        />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-fields flex0">
                                    <h3>{{localize 'tg.attributes.sanity'}}</h3>
                                    <label for="mentalResistance">{{localize 'tg.attributes.mentalResistance'}}:</label>
                                    <input id="mentalResistance" name="system.mentalResistance" type="text" value="{{data.system.mentalResistance}}" />
                                </div>
                            </div>
                        </div>
                        <div class='flexcol'>
                            <div class="flexcol">
                                <div class='form-fields tag-fields flex0'>
                                    <label for='torments'><h3>{{localize
                                        'tg.plurals.torment'
                                    }} <a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'><i class='fas fa-eye'></i></a></h3></label>
                                    {{#each actor.system.torments as |torment key|}}
                                        <span class='tag'>
                                            <a class="rollable-torment" data-id='{{torment._id}}'>
                                                <i class="fas fa-dice-d10"></i>
                                            </a>
                                            {{torment.name}}<a
                                            class='torment-control'
                                            title='{{localize "tg.common.edit"}}'
                                            data-id='{{torment._id}}'
                                        ><i class='fas fa-edit'></i></a></span>
                                    {{/each}}
                                </div>
                                <div class='form-fields tag-fields flex0'>
                                    <label for='routs'><h3>{{localize
                                        'tg.plurals.rout'
                                    }} <a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'><i class='fas fa-eye'></i></a></h3></label>
                                    {{#each actor.system.routs as |rout key|}}
                                        <span class='tag'>
                                            <a class="rollable-rout" data-id='{{rout._id}}'>
                                                <i class="fas fa-dice-d10"></i>
                                            </a>
                                            {{rout.name}}<a
                                            class='rout-control'
                                            title='{{localize "tg.common.edit"}}'
                                            data-id='{{rout._id}}'
                                        ><i class='fas fa-edit'></i></a></span>
                                    {{/each}}
                                </div>
                                <div class="flexcol">
                                    <div class='form-fields tag-fields flex0'>
                                        <label for='advantages'><h3>{{localize
                                            'tg.plurals.advantage'
                                        }} <a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'><i class='fas fa-eye'></i></a></h3></label>
                                        {{#each actor.system.advantages as |advantage key|}}
                                            <span class='tag'>
                                                <a class="rollable-advantage" data-id='{{advantage._id}}'>
                                                    <i class="fas fa-dice-d10"></i>
                                                </a>
                                                {{advantage.name}}<a
                                                class='advantage-control'
                                                title='{{localize "tg.common.edit"}}'
                                                data-id='{{advantage._id}}'
                                            ><i class='fas fa-edit'></i></a></span>
                                        {{/each}}
                                    </div>
                                    <div class='form-fields tag-fields flex0'>
                                        <label for='disadvantages'><h3>{{localize
                                            'tg.plurals.disadvantage'
                                        }} <a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'><i class='fas fa-eye'></i></a></h3></label>
                                        {{#each actor.system.disadvantages as |disadvantage key|}}
                                            <span class='tag'>
                                                <a class="rollable-disadvantage" data-id='{{disadvantage._id}}'>
                                                    <i class="fas fa-dice-d10"></i>
                                                </a>
                                                {{disadvantage.name}}<a
                                                class='disadvantage-control'
                                                title='{{localize "tg.common.edit"}}'
                                                data-id='{{disadvantage._id}}'
                                            ><i class='fas fa-edit'></i></a></span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="domains">{{localize 'tg.plurals.domain'}}</a>
                <a class="item" data-tab="combat">{{localize 'tg.common.combat'}}</a>
                <a class="item" data-tab="magic">{{localize 'tg.domains.magic'}}</a>
                <a class="item" data-tab="ascension">{{localize 'tg.common.ascension'}}</a>
                <a class="item" data-tab="inventory">{{localize 'tg.common.inventory'}}</a>
            </nav>
            <section class="sheet-body">
                <div class="tab" data-group="primary" data-tab="domains">
                    {{> "systems/tg/templates/parts/actor/domains.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="combat">
                    {{> "systems/tg/templates/parts/actor/combat.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="magic">
                    {{> "systems/tg/templates/parts/actor/magic.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="ascension">
                    {{> "systems/tg/templates/parts/actor/ascension.hbs"}}
                </div>
                <div class="tab" data-group="primary" data-tab="inventory">
                    {{> "systems/tg/templates/parts/actor/inventory.hbs"}}
                </div>
            </section>
        </section>
    </div>
</form>

<script>
    document.querySelectorAll('input[type=number]').forEach(input => {
        input.addEventListener('wheel', e => {
            e.preventDefault();
        }, { passive: false, capture: false, once: false });
    });
</script>