<form class="{{cssClass}} flexcol tg-actor-sheet" autocomplete="off">
	<div class='flexrow h-full'>
        <section class='flexcol h-full'>
            <header class="sheet-header creature-sheet-header">
                <div class="header-fields">
                    <div class='flexrow'>
                        <img
                            class='profile-img'
                            src='{{data.img}}'
                            data-edit='img'
                            title='{{data.name}}'
                        />
                        <div class='header-fields'>
                            <h1 class='charname'>
                                <input
                                    name='name'
                                    type='text'
                                    value='{{data.name}}'
                                    placeholder='Name'
                                />
                            </h1>
                            <div class="flexcol">
                                <div class="flex0">
                                    <div class="form-fields">
                                        <label for="level">{{localize 'tg.common.level'}}:</label>
                                        <input id="level" name="system.level" type="number" value="{{data.system.level}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="sheet-body">
                <div class="flex0">
                    <label for='description'>{{localize
                        'tg.common.description'
                    }}</label>
                    <textarea
                        name='system.description'
                        id='description'
                        cols='30'
                        rows='2'
                    >{{data.system.description}}</textarea>
                </div>
                <div class="flexrow creature-health">
                    <div class="flexcol">
                        <div class="form-fields flex0">
                            <h3>{{localize 'tg.actorStatus.healthCondition'}}</h3>
                            <div class='flexrow health-max-values'>
                                <div class='flexrow'>
                                    <input class="health-divider" id="healthGoodMax" name="system.healthGoodMax" type="number" value="{{data.system.healthGoodMax}}" />
                                </div>
                                <div class='flexrow'>
                                    <input class="health-divider" id="healthOkayMax" name="system.healthOkayMax" type="number" value="{{data.system.healthOkayMax}}" /> /
                                </div>
                                <div class='flexrow'>
                                    <input class="health-divider" id="healthBadMax" name="system.healthBadMax" type="number" value="{{data.system.healthBadMax}}" /> /
                                </div>
                                <div class='flexrow'>
                                    <input class="health-divider" id="healthCriticalMax" name="system.healthCriticalMax" type="number" value="{{data.system.healthCriticalMax}}" /> /
                                </div>
                            </div>
                            <table>
                                <tbody>
                                <tr>
                                    <td>{{localize 'tg.actorStatus.good'}}</td>
                                    <td>
                                        {{#each (range (calculateRange data.system.healthGoodMax data.system.healthOkayMax) 1)}}
                                            <input class="healthRadioValue" type="radio" value="{{sum this ../data.system.healthOkayMax}}" title="{{sum this ../data.system.healthOkayMax}}" {{#compare ../data.system.health '<=' (sum this ../data.system.healthOkayMax)}}checked{{/compare}} />
                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{localize 'tg.actorStatus.okay'}}</td>
                                    <td>
                                        {{#each (range (calculateRange data.system.healthOkayMax data.system.healthBadMax) 1)}}
                                            <input class="healthRadioValue" type="radio" value="{{sum this ../data.system.healthBadMax}}" title="{{sum this ../data.system.healthBadMax}}" {{#compare ../data.system.health '<=' (sum this ../data.system.healthBadMax)}}checked{{/compare}} />
                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{localize 'tg.actorStatus.bad'}}</td>
                                    <td>
                                        {{#each (range (calculateRange data.system.healthBadMax data.system.healthCriticalMax) 1)}}
                                            <input class="healthRadioValue" type="radio" value="{{sum this ../data.system.healthCriticalMax}}" title="{{sum this ../data.system.healthCriticalMax}}" {{#compare ../data.system.health '<=' (sum this ../data.system.healthCriticalMax)}}checked{{/compare}} />
                                        {{/each}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{localize 'tg.actorStatus.critical'}}</td>
                                    <td>
                                        {{#each (range data.system.healthCriticalMax 1)}}
                                            <input class="healthRadioValue" type="radio" value="{{this}}" title="{{this}}" {{#compare ../data.system.health '<=' this}}checked{{/compare}} />
                                        {{/each}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class='flexcol creature-general-values'>
                    <div class='flexrow'>
                        <div class='flexrow'>
                            <div class='form-fields'>
                                <label for='stamina'>{{localize 'tg.attributes.stamina'}}:</label>
                                <input id='stamina' name='system.stamina' type='number' value='{{data.system.stamina}}' />
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="form-fields">
                                <label for="mentalResistance">{{localize 'tg.attributes.mentalResistance'}}:</label>
                                <input id="mentalResistance" name="system.mentalResistance" type="text" value="{{data.system.mentalResistance}}" />
                            </div>
                        </div>
                    </div>
                    <div class='flexcol'>
                        <div class='flexrow'>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <a class="rollable-attack">
                                        <i class="fas fa-dice-d10"></i>
                                    </a>
                                    <label for="attack">{{localize 'tg.attributes.attack'}}:</label>
                                    <input id="attack" name="system.attack" type="number" value="{{data.system.attack}}" />
                                </div>
                            </div>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <label for="damage">{{localize 'tg.attributes.damage'}}:</label>
                                    <input id="damage" name="system.damage" type="number" value="{{data.system.damage}}" />
                                </div>
                            </div>
                        </div>
                        <div class='flexrow'>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <a class="rollable-defense">
                                        <i class="fas fa-dice-d10"></i>
                                    </a>
                                    <label for="defense">{{localize 'tg.attributes.defense'}}:</label>
                                    <input id="defense" name="system.defense" type="number" value="{{data.system.defense}}" />
                                </div>
                            </div>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <label for="protection">{{localize 'tg.attributes.protection'}}:</label>
                                    <input id="protection" name="system.protection" type="number" value="{{data.system.protection}}" />
                                </div>
                            </div>
                        </div>
                        <div class='flexrow'>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <label for="speed">{{localize 'tg.attributes.speed'}}:</label>
                                    <input id="speed" name="system.speed" type="number" value="{{data.system.speed}}" />
                                </div>
                            </div>
                            <div class='flexrow'>
                                <div class="form-fields">
                                    <label for="potential">{{localize 'tg.attributes.potential'}}:</label>
                                    <input id="potential" name="system.potential" type="number" value="{{data.system.potential}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class='form-fields tag-fields flex0'>
                            <label for='traits'>
								<h3>{{localize'tg.common.traits'}} 
									<a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'>
										<i class='fas fa-eye'></i>
									</a>
								</h3>
							</label>
                            {{#each actor.system.traits as |trait key|}}
                                <span class='tag'>
                                    <a class="rollable-trait" data-id='{{trait._id}}'>
                                        <i class="fas fa-dice-d10"></i>
                                    </a>
                                    {{trait.name}}
									<a class='trait-control' title='{{localize "tg.common.edit"}}' data-id='{{trait._id}}'>
										<i class='fas fa-edit'></i>
									</a>
								</span>
                            {{/each}}
                        </div>
                        <div class='form-fields tag-fields flex0'>
                            <label for='specialAbilities'>
								<h3>
									{{localize 'tg.plurals.specialAbility'}} 
									<a class='openItemsModal' title='{{localize "tg.common.edit"}}' data-action='edit'>
										<i class='fas fa-eye'></i>
									</a>
								</h3>
							</label>
                            {{#each actor.system.specialAbilities as |specialAbility key|}}
                                <span class='tag'>
                                    <a class="rollable-special-ability" data-id='{{specialAbility._id}}'>
                                        <i class="fas fa-dice-d10"></i>
                                    </a>
                                    {{specialAbility.name}}
									<a class='special-ability-control' title='{{localize "tg.common.edit"}}' data-id='{{specialAbility._id}}'>
										<i class='fas fa-edit'></i>
									</a>
								</span>
                            {{/each}}
                        </div>
                    </div>
                </div>
                {{> "systems/tg/templates/parts/creature/domains.hbs"}}
            </section>
        </section>
    </div>
</form>

<script>
    document.querySelectorAll('input[type=number]').forEach(input => {
        input.addEventListener('wheel', e => {
            e.preventDefault();
        }, { passive: false, capture: false, once: false });
    });
</script>