<div class='roll__components'>
  {{#each components}}
    {{#if (or (not (isEqual this.value 0)) this.alwaysShowInBreakdown)}}
      <div class='roll__component component'>
        <div class='component__description'>
          {{#unless @first}}
            +
          {{/unless}}
          {{#if this.advantageRoll}}
            <span class='component__label'>
              {{#if this.advantageRoll.isAdvantage}}Advantage{{else}}Disadvantage{{/if}}
            </span>
            <span class='component__value'>
              ({{this.advantageRoll.die1}}, {{this.advantageRoll.die2}})
            </span>
          {{else}}
            {{#if this.label}}
              <span class='component__label'>
                {{this.label}}
              </span>
            {{else}}
              {{#if this.sides}}
                <span class='component__label'>
                  {{this.count}}d{{this.sides}}
                </span>
              {{/if}}
            {{/if}}
            <span class='component__value'>
              ({{this.value}})
            </span>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
