<div class="roll__total {{#if resultType}}roll__total--{{resultType}}{{/if}}">
  <div class="result-number">{{total}}</div>
  {{#if (isEqual resultType "success")}}
    <div class="result-text result-text--{{resultType}}">STRONG HIT</div>
  {{/if}}
  {{#if (isEqual resultType "partial-success")}}
    <div class="result-text result-text--{{resultType}}">MIXED HIT</div>
  {{/if}}
  {{#if (isEqual resultType "failure")}}
    <div class="result-text result-text--{{resultType}}">MISS</div>
  {{/if}}
  <div class="power">
    <span class="power__label">POWER:</span><span class="power__value">{{power}}</span>
  </div>
</div>
